* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    line-height: 1.7em;
}
.l-box {
    padding: 1em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #aaa;
}
body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

/* MESSAGES & ERRORS - Begin */

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 5px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #dfd url(../img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning {
    background: #ffc url(../img/icon_alert.gif) 5px .3em no-repeat;
}

ul.messagelist li.error {
    background: #ffefef url(../img/icon_error.gif) 5px .3em no-repeat;
}

.errornote {
    font-size: 12px !important;
    font-weight: bold;
    display: block;
    padding: 5px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid #c22;
    color: #c11;
    background: #ffefef url(../img/icon_error.gif) 5px .38em no-repeat;
}

.errornote, ul.errorlist {
    border-radius: 1px;
}

ul.errorlist {
    margin: 0 165px 4px !important;
    padding: 0 !important;
    /*color: #fff;*/
    color: #c11;
    /*background: #c11;*/
}

ul.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 5px 5px 4px 7px;
    margin: 3px 0 0 0;
}

ul.errorlist li:first-child {
    margin-top: 0;
}

ul.errorlist li a {
    color: #fff;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors, .form-row.errors {
    background: #ffefef;
}

.form-row.errors {
    border: 1px solid #c22;
    margin: -1px;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #c11;
}

div.system-message {
    /*background: #ffc;*/
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
    color: forestgreen;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: #c11;
    background: #ffefef url(../img/icon_error.gif) 5px .3em no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* MESSAGES & ERRORS - End */